---
page_title: How Adsigma Works
full_width: true

session_1:
  title: Automated Campaign Creation
  description: Easily create advertising campaigns <b>across Google, Facebook and Instagram </b> from one single platform. <br> <br> Stop spending hours manually building campaigns and ads across all advertising channels. Whether you wish to run on-going campaigns or seasonal promotions, simply define your advertising goals and let Adsigma launch professional campaigns for every product and category.
  image_url: /images/features/session_1.png
session_2:
  title: AI-Driven Optimization
  description: <b>Outperform</b> your competition with Adsigma’s AI Algorithms. Automatically optimize your advertising campaigns - <b>like no human can.</b> Using advanced statistical models, Adsigma monitors and optimizes your campaigns 24/7 to maximize performance across all channels. This includes Budget Allocation, Bid Optimization, Targeting Optimization, Quality Score Optimization and more.
  button_name: START A FREE TRIAL
  image_url: /images/features/session_2.png

session_3:
  title: Automated Store-to-Ads Sync
  description: Keep your Ads <b>Up-To-Date</b> with Store-to-Ad Sync. With Adsigma, every product change will be automatically reflected in your ads on all channels. Instead of wasting hours manually entering data or importing endless Excel sheets full of numbers and errors, Adsigma ensures that all store changes are automatically updated in your advertising campaigns. Rest assured knowing that your pricing, products, stock inventory, and more are all in sync.
  image_url: /images/features/session_3.png

session_4:
  title: Analyze Your Performance
  description: Visualize your Cross-platform advertising performance on one dashboard. Use Adsigma to quickly analyze your progress as well as trends with insightful reporting. With the click of a button, dive deep into various data breakdowns for valuable metrics, underutilized opportunities, and overall advertising performance. Evaluate and discover what you have been missing- all in one place.
  button_name: START A FREE TRIAL
  image_url: /images/features/session_4.png

session_5:
  title: Additional features
  features:
      - title: Keywords generator
        description: Search for recommended keyword ideas according to relevant search terms. Include them in your ads to increase visibility.
        image_url: /images/features/session_5_1.svg
      - title: Insightful reports
        description: Dive deep into various data breakdowns for valuable insights, discover underutilized opportunities, and evaluate overall advertising performance at a glance.
        image_url: /images/features/session_5_2.svg
      - title: Pixels installation
        description: Forget about the tedious work of implementing conversion pixels in your store. Adsigma implements and validates pixels for both Google and Facebook automatically.
        image_url: /images/features/session_5_3.svg
      - title: Media library
        description: Manage all your advertising creatives from one place. Upload your banners, images, and videos to use on your ads across multiple channels.
        image_url: /images/features/session_5_4.svg
      - title: Click-fraud protection
        description: Automated blocking of suspicious IPs. Adsigma will constantly analyze your traffic and its behavior while reducing unwanted clicks.
        image_url: /images/features/session_5_5.svg
      - title: Store Maturity Report
        description: Check your store readiness before spending money on advertising. Use our recommendations to improve your store.
        image_url: /images/features/session_5_6.svg

---

<div class="page-title">
    {{page.page_title}}
</div>


<div class="features-wrapper">
    {% if page.session_1 %}
    <div class="session_1 session_grey" id="session-1">

        <div class="button-jump-grey" onclick="scrollToElement('session-1')">
            <div style="margin-top: -10px">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 960 560"
                     enable-background="new 0 0 960 560" xml:space="preserve">
                    <g id="Rounded_Rectangle_33_copy_4_1_">
                        <path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937   c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937   c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"/>
                    </g>
                </svg>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="col-6 text-right ">
                <div class="pt-100 pb-100 pr-50 image-featured">
                    <img class="image-session" src="{{ site.baseurl }}{{page.session_1.image_url}}"/>
                </div>
            </div>
            <div class="col-6">
                <div class="pt-100 pb-100 pl-50 content-featured">
                    <div class="main-title">
                        {{page.session_1.title}}
                    </div>

                    <div class="description">
                        {{page.session_1.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.session_2 %}
    <div class="session_2 session_white" id="session-2">

        <div class="button-jump-white" onclick="scrollToElement('session-2')">
            <div style="margin-top: -10px">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 960 560"
                     enable-background="new 0 0 960 560" xml:space="preserve">
                    <g id="Rounded_Rectangle_33_copy_4_1_">
                        <path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937   c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937   c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"/>
                    </g>
                </svg>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="col-6">
                <div class="pt-100 pb-100 pr-50 content-featured">
                    <div class="main-title">
                        {{page.session_2.title}}
                    </div>

                    <div class="description">
                        {{page.session_2.description}}
                    </div>

                    <div class="button-wrapper">
                        <button class="button-custom"> {{page.session_2.button_name}}</button>
                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class="pt-100 pb-100 pl-50 image-featured" >
                    <img class="image-session" src="{{ site.baseurl }}{{page.session_2.image_url}}"/>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if page.session_3 %}
    <div class="session_3 session_grey" id="session-3">
        <div class="button-jump-grey" onclick="scrollToElement('session-3')">
            <div style="margin-top: -10px">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 960 560"
                     enable-background="new 0 0 960 560" xml:space="preserve">
                    <g id="Rounded_Rectangle_33_copy_4_1_">
                        <path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937   c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937   c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="col-6 text-right ">
                <div class="pt-100 pb-100 pr-50 image-featured">
                    <img class="image-session" src="{{ site.baseurl }}{{page.session_3.image_url}}"/>
                </div>
            </div>
            <div class="col-6">
                <div class="pt-100 pb-100 pl-50 content-featured">
                    <div class="main-title">
                        {{page.session_3.title}}
                    </div>

                    <div class="description">
                        {{page.session_3.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.session_4 %}
    <div class="session_2 session_white" id="session-4">
        <div class="button-jump-white" onclick="scrollToElement('session-4')">
            <div style="margin-top: -10px">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Capa_1" x="0px" y="0px" width="35px" height="35px" viewBox="0 0 960 560"
                     enable-background="new 0 0 960 560" xml:space="preserve">
                    <g id="Rounded_Rectangle_33_copy_4_1_">
                        <path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937   c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937   c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"/>
                    </g>
                </svg>
            </div>
        </div>


        <div class="content-wrapper">
            <div class="col-6">
                <div class="pt-100 pb-100 pr-50 content-featured">
                    <div class="main-title">
                        {{page.session_4.title}}
                    </div>

                    <div class="description">
                        {{page.session_4.description}}
                    </div>

                    <div class="button-wrapper">
                        <button class="button-custom"> {{page.session_4.button_name}}</button>
                    </div>

                </div>
            </div>

            <div class="col-6">
                <div class="pt-100 pb-100 pl-50 image-featured">
                    <img class="image-session" src="{{ site.baseurl }}{{page.session_4.image_url}}"/>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% if page.session_5.features %}
    <div class="session_5 session_green session-5-mobile">

        <div class="title-session">
            Additional features
        </div>

        <div class="content-wrapper">

            {% for item in page.session_5.features %}
            <div class="item-session">
                <div class="item-session-wrapper">
                    <div class="image-item-session">
                        <img src="{{ site.baseurl }}{{item.image_url}}"/>
                    </div>
                    <div>
                        <div class="title-item-session">
                            {{item.title}}
                        </div>
                        <div class="description-item-session">
                            {{item.description}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}


    <div class="session-6">
        <div class="title">
            Sign Up for Newsletter
        </div>

        <div class="form-wrapper">
            <div class="flex">
                <input class="w-70" type="text" name="_gotcha">
                <input class="w-30 m-0" type="submit" value="Send"/>
            </div>
        </div>
    </div>

</div>

<script>
    function scrollToElement(element) {
        $('html, body').animate({
            scrollTop: $("#" + element).offset().top
        }, 1000);
    }
</script>
